
*.v2
restaurantapi/.vs/restaurantapi/v16/.suo
restaurantapi/RestaurantModels/obj/Debug/netcoreapp3.1/RestaurantModels.AssemblyInfo.cs
restaurantapi/RestaurantModels/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
restaurantapi/RestaurantModels/obj/Debug/netcoreapp3.1/RestaurantModels.AssemblyInfoInputs.cache
restaurantapi/RestaurantModels/obj/Debug/netcoreapp3.1/RestaurantModels.GeneratedMSBuildEditorConfig.editorconfig
restaurantapi/RestaurantModels/RestaurantModels.csproj
restaurantapi/RestaurantsDataBaseScripts/obj/Debug/netcoreapp3.1/RestaurantsDataBaseScripts.AssemblyInfo.cs
restaurantapi/RestaurantModels/RestaurantModels.csproj
restaurantapi/RestaurantsDataBaseScripts/obj/Debug/netcoreapp3.1/RestaurantsDataBaseScripts.AssemblyInfoInputs.cache
restaurantapi/RestaurantsDataBaseScripts/obj/Debug/netcoreapp3.1/RestaurantsDataBaseScripts.GeneratedMSBuildEditorConfig.editorconfig
restaurantapi/RestaurantModels/RestaurantModels.csproj
restaurantapi/restaurantapi/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
restaurantapi/restaurantapi/obj/Debug/netcoreapp3.1/restaurantapi.AssemblyInfo.cs
restaurantapi/restaurantapi/obj/Debug/netcoreapp3.1/restaurantapi.AssemblyInfoInputs.cache
restaurantapi/restaurantapi/obj/Debug/netcoreapp3.1/restaurantapi.assets.cache
restaurantapi/restaurantapi/obj/Debug/netcoreapp3.1/restaurantapi.csproj.AssemblyReference.cache
restaurantapi/restaurantapi/obj/Debug/netcoreapp3.1/restaurantapi.GeneratedMSBuildEditorConfig.editorconfig
restaurantapi/restaurantapi/obj/project.assets.json
restaurantapi/restaurantapi/obj/project.nuget.cache
restaurantapi/restaurantapi/obj/restaurantapi.csproj.nuget.dgspec.json
restaurantapi/restaurantapi/obj/restaurantapi.csproj.nuget.g.props
restaurantapi/restaurantapi/obj/restaurantapi.csproj.nuget.g.targets
restaurantapi/RestaurantModels/obj/Debug/netcoreapp3.1/RestaurantModels.assets.cache
restaurantapi/RestaurantModels/obj/Debug/netcoreapp3.1/RestaurantModels.csproj.AssemblyReference.cache
restaurantapi/RestaurantModels/obj/project.assets.json
restaurantapi/RestaurantModels/obj/project.nuget.cache
restaurantapi/RestaurantModels/obj/RestaurantModels.csproj.nuget.dgspec.json
restaurantapi/RestaurantModels/obj/RestaurantModels.csproj.nuget.g.props
restaurantapi/RestaurantModels/obj/RestaurantModels.csproj.nuget.g.targets
restaurantapi/RestaurantsDataBaseScripts/obj/Debug/netcoreapp3.1/RestaurantsDataBaseScripts.assets.cache
restaurantapi/RestaurantsDataBaseScripts/obj/project.assets.json
restaurantapi/RestaurantsDataBaseScripts/obj/project.nuget.cache
restaurantapi/RestaurantsDataBaseScripts/obj/RestaurantsDataBaseScripts.csproj.nuget.dgspec.json
restaurantapi/RestaurantsDataBaseScripts/obj/RestaurantsDataBaseScripts.csproj.nuget.g.props
restaurantapi/RestaurantsDataBaseScripts/obj/RestaurantsDataBaseScripts.csproj.nuget.g.targets
restaurantapi/.vs/restaurantapi/xs/project-cache/*
restaurantapi/.vs/restaurantapi/xs/UserPrefs.xml
restaurantapi/RestaurantsDataBaseScripts/obj/Debug/netcoreapp3.1/RestaurantsDataBaseScripts.csproj.AssemblyReference.cache
bin/
obj/
Debug/
Release/
# General
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
